@font-face {
    font-family: Jojo;
    src: url(../jojo.ttf);
}
body {
    font-family: 'Jojo';
}

.button {
    display: flex;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 500px;
    max-height: 200px;
    border-radius: 10px;
    font-family: 'Jojo';
    font-size: 0.67em;
  }

.start_button img{
    width: 150px;
}
.intro{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    height: 100vh;
    background: url(../images/wall\ outside1.png) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}


.dialog {
    width: 100%;
    height: 20%;
    margin-right: 7px;
    margin-top: -610px;
}

#right_img {
    width: 441px;
    height: 441px;
}

.dialog_images {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.dialog_images img {
    margin-top: 110px;
    
}

.info {
    position: relative;
    font-size: 2em;
    width: 100%;
    height: 100%;
    border-color: black;
    border-style: solid;
    padding-bottom: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 7px;
    color: white;
}
.text {
    font-family: 'Ubuntu';
    font-size: 1.2em;
    color: white;
}